html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}

/* ==================== Start Header ==================== */
header{
    background: url("../images/headerBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-bottom: 35px;
}


.logo-wraper{

}
.logo-img{

}
.main-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.menu-item{
    margin-right: 25px;
    padding: 40px 18px 15px 18px  ;
}
.menu-item.active {
    background-color: #93A5FF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.login-btn {
    background-color: #fff ;
    color: #93A5FF;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Nunito Bold';
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.login-btn:hover{
    background-color: #93A5FF ;
    color: #fff;
}
.contact-btn span{
    margin-left: 10px;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
}
.icon-times{
    cursor: pointer;
    display: none;
}

/* ==================== Header Content ==================== */
.header-content{
    margin-top: 45px;
}
.header-title {
    font-family: 'Roboto' , sans-serif;
    font-size: 42px;
}
.header-caption {
    opacity: 0.8;
    font-size: 21px;
}
.flex-wrapper{
    -ms-flex-preferred-size: 330px;
    flex-basis: 330px;
}
.header-input{
    color: #fff;
    background-color: #384170;
    padding: 11px 15px ;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px ;
    margin-right: 2px;
    max-width: 280px;
    width: 100%;
}
.header-input::-webkit-input-placeholder{
    color: #fff;
}
.header-input::-moz-placeholder{
    color: #fff;
}
.header-input:-ms-input-placeholder{
    color: #fff;
}
.header-input::-ms-input-placeholder{
    color: #fff;
}
.header-input::placeholder{
    color: #fff;
}
.header-domain {
    background-color: #384170;
    padding: 11px 15px 11px  10px ;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px ;
}
.header-btn{
    margin-left: 25px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.header-btn:hover{
    background-color: #a3b2ff;
}



/* ==================== End Header  ==================== */

/* ==================== Start Main  ==================== */

.section-title{
    text-align: center;
    font-family: "Nunito ExtraBold";
    color: #2E2E2E;
    margin : 0;
    font-size: 30px;
}
.section-caption{
    text-align: center;
    color: #2E2E2E;
    margin-top: 10px;
    opacity: 0.8;
    font-size: 22px;
    margin-bottom: 0;
}

/* -------------------- services Section -------------------- */

.services{
    text-align: center;
}

.service{
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 40px ;
}
.service img{
    margin-right: 22px;
    width: 60px;
}
.service-content{
    text-align: left;
}
.service-content h3{
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Nunito Bold" ;
    color: #2E2E2E ;
}
.service-content p{
    opacity: 0.8;
    line-height: 28px;
    font-size: 17px;
    max-width: 430px;
}

/* -------------------- Start Section -------------------- */
.start {
    background-color: #f7f8ff;
}
.start .row .col-12{
    margin-bottom: 25px;
}
.start-box{
    position: relative;
    border-radius: 5px;
    padding: 30px;
}
.start-logo{
    border-radius: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70px;
    height: 70px;
}
.start-title{
    font-family: "Nunito Bold";
    color: #fff;
    margin-top: 38px;
}
.start-description{
    color: #fff;
    line-height: 28px;
}
.start-a{
    background-color: #fff !important;
    color: #93A5FF !important;
    font-family: "Nunito Bold";
    display: block;
    width: 155px;
    margin-left: auto;
    padding: 14px 0 14px 15px;
}
.start-a i{
    margin-left: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.start-a:hover i{
    margin-left: 15px;

}


.start-img-fix{
    position: absolute;
    right: 20px;
    top: 20px;
    max-width: 200px;
}
.start-box-1{
    background-color: #93a5ff;
}
.start-box-2{
    background-color: #424D83;
}
.start-logo-1 {
    background-color: #424D83;
}
.start-logo-2 {
    background-color: #93a5ff;
}

/* -------------------- Plans Section -------------------- */
.plans {
}

.plan{
    overflow: hidden;
    text-align: center;
    color: #2E2E2E;
    -webkit-box-shadow: 0 0 15px 0 rgb(0,0,0,0.12);
    box-shadow: 0 0 15px 0 rgb(0,0,0,0.12);
    border-radius: 5px;
    margin-bottom: 25px;

}
.plan:hover .plan-bottom{
    height: 240px;
}
.plan:hover .plan-top{
    border-top: 8px solid #93A5FF;
}
.plan-top{
    height: 320px;
    padding: 60px 30px 0 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-top: 8px solid transparent;
}
.plan-title{
    font-family: "Nunito Bold";
}
.plan-description{
    line-height: 28px;
}
.plan-bottom{
    border-top: 1px solid #EBEBEB;
    padding: 30px 0;
    height: 129px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.plan-price{
    font-size: 30px;
    margin-top: 15px;
}
.plan-price small{
    font-size: 15px;
}
.plan-btn{
    color: #93A5FF !important;
    background-color: #F7F8FF !important;
    font-family: "Nunito Bold" ;
    display: block;
    width: 185px;
    margin-top: 50px;
    margin-bottom: 15px ;
    text-align: left;
    padding: 14px 0 14px 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}
.plan-btn:hover{
    color: #F7F8FF !important;
    background-color: #93A5FF !important;
}
.plan-btn i {
    margin-left: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.plan-btn:hover i {
    margin-left: 15px;
}

/* -------- Comments Section ------------*/

.comments {
    background-color: #F7F8FF;
    position: relative;
}

.comments-img {
    position: absolute;
    width: 160px;

}

.comments-img1 {
    top: -30px;
    right: 0;
}

.comments-img2 {
    bottom: -40px;
    left: 0;
}

.comment {
    padding: 0 60px;
}

.comment-img {
    width: 85px !important;
    height: 85px !important;
    margin-right: 15px;
    -o-object-fit: cover !important;
    object-fit: cover !important;
    border-radius: 50% !important;
    -webkit-box-shadow: 0 5px 10px rgba(0 , 0 , 0 , 0.16 ) ;
    box-shadow: 0 5px 10px rgba(0 , 0 , 0 , 0.16 ) ;
}

.comment-content {

}

.comment-rating {

}

.comment-rating i {
    color: #FAD56B;
    margin-right: 3px;
}

.comment-body {
    font-family: "Nunito italic";
    color: #2E2E2E;
    line-height: 28px;
}

.comment-person {
    color: #2E2E2E;
    font-family: "Nunito Bold";
}
.comment-person:before{
    content: "-";
    margin-right: 5px;
}
.owl-dots .owl-dot {
    outline: none;
}

.owl-dots .owl-dot span {
    background-color: #93A5FF !important;
    opacity: 0.4;
}

.owl-dots .owl-dot.active span {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 1;
    -webkit-box-shadow: 0 0 10px rgba(147 , 165 , 255 , 0.45 ) ;
    box-shadow: 0 0 10px rgba(147 , 165 , 255 , 0.45 ) ;
}
.owl-next,.owl-prev{
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
}
.owl-prev{
    left: -20px;
}
.owl-next{
    right: -20px;
}
.owl-prev span, .owl-next span {
    font-size: 34px !important;
    color: #889CFF !important;
    width: 40px;
    height: 40px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(147,165,225,0.15) !important;
    border-radius: 5px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: 0;
    color: #889CFF;
    text-decoration: none;
}

/* -------------------- Clients Section -------------------- */

.client-logo{
    list-style: none;
    padding: 50px 0;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
.client-logo li{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 20px;
}
.client-logo li img{
    margin: 0 15px;
    width: 150px;
}
.logo-btn{
    display: block;
    width: 170px;
    margin: 0 auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.logo-btn:hover{
    background-color: #a3b2ff;
}
.logo-btn > i {
    margin-left: 4px;
}

/* ==================== End Main  ==================== */

/* ==================== Start Footer  ==================== */

footer{
    background-size: cover;
    color: #fff;
    padding: 140px 0 30px 0;
    background: url("../images/footer_bg.png");
    background-size: cover;
    background-repeat:  no-repeat ;
    background-position:  center top;

}
footer p{
    line-height: 28px;
}
footer .footer-bottom > div:last-child > a {
    line-height: 28px;
}
.footer-list{

}
.footer-list-title{
    text-transform: uppercase;
}
.footer-menu{
    list-style: none;
    padding-left: 0;
}
.footer-menu-item{
    margin-bottom: 8px;
}
.footer-menu-link{

}

.accepts{


}
.accept{
    background-color: #2D355D;
    border-radius: 5px;
    margin-right: 5px ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
    width: 70px;
}
.accept-img-100 {
    width: 100% !important;
}
.accept-img-45{
    width: 45% !important;
}
.accept img{
    width: 65%;
}

.footer-bottom{
    margin-top: 60px;
    -webkit-box-pack: end    ;
    -ms-flex-pack: end    ;
    justify-content: end    ;
}
.social{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.social-item{
    margin-right: 10px;
}
.footer-logo{
    margin-bottom: 15px;
}


.br-1::after{
    content: " ";
    border-right: 1px solid #fff;
    margin: 0 15px;
}

footer a:hover{
    text-decoration: underline;
}