@media  only screen and (max-width: 992px) {
    .nav{
        padding-top: 35px;
    }
    .menu-icon{
        display: block;
    }
    .main-menu{
        z-index: 999;
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -250px;
        background-color: #7381c3;
        width: 250px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    .menu-item{
        display: block;
        margin: 25px 15px;
        padding: 5px !important;
    }

    .menu-item.active{
        background-color: transparent !important;
    }
    .login-btn {
        display: block;
        text-align: center;
        margin-right: 15px;
    }
    .header-btn{
        margin-left: 0;
        margin-top: 15px;
        width: 100%;
    }
    .icon-times{
        text-align: center;
        display: inline-block;
        margin-left: 150px;
    }

    .header-input{
        max-width: 100%;
    }

    .services-img{
        margin-bottom: 35px;
    }

}

@media  only screen and (max-width: 768px) {
    .img{
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .content{
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .header-content {
        margin-top: 0;
    }
    header{
        height: 750px !important;
    }
    .plan-bottom{
        height: 240px;
    }
    .plan-top{
        border-top: 8px solid #93A5FF;
    }
    .footer-list-title-4{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .accepts-4{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

}
@media  only screen and (width: 768px) {
    .img{
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .content{
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

}
@media  only screen and (max-width: 576px) {

    .header-title{
        font-size: 30px;
    }
    .header-caption{
        font-size: 18px;
        opacity: 0.8;
    }
    .start-img-fix{
        max-width: 150px;
    }

    .client-logo li img{
        width: 80px;
    }
    .section-title {
        font-size: 25px;
    }
    .section-caption{
        font-size: 17px;
    }
    .comment {
        display: block !important;
        text-align: center;
    }
    .comment-img{
        margin: 20px auto;
    }
    footer{
        text-align: center;
    }


    .footer-bottom{
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    .social{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

}
